<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-2">
                <img style="width:100px;height:100px" class="img-circle" ng-src={{user.profilePicture}}>
            </div>
            <div class="col-md-5">
                <h3>{{user.userName}}</h3>
                <h4>{{user.motto}}</h4>
                <h4>{{user.address.city}} {{user.address.state}}, {{user.address.country}}</h4>
            </div>
            <div class="col-md-5" ng-show="me._id===user._id">
                <a ui-sref="userEdit({id: user._id})" class="btn btn-info">Edit</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <label>About me</label>
                <div ng-bind-html="user.bio"></div>
            </div>
            <div id="hostedEventsList">
                <label>Hosted events:</label>
                <div ng-repeat="event in events.host">
                    <event-detail eventdata="event"></event-detail>
                </div>
            </div>
            <div id="joinedEventList">
                <label>Joined events:</label>
                <div ng-repeat="event in events.attendee">
                    <event-detail eventdata="event"></event-detail>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <div>
                    <h4>Facebook Friends</h4>
                    <div ng-repeat="friend in friends">
                        <span>{{friend.name}}</span>
                        <img style="width:50px;height:50px" class="img-circle" ng-src={{friend.picture}}>
                    </div>
                </div>
                <div>
                    <h4>Hosts of events you joined</h4>
                    <div ng-repeat="host in hosts">
                        <span>{{host.userName}}</span>
                        <img style="width:50px;height:50px" class="img-responsive" ng-src={{host.profilePicture}}>
                    </div>
                </div>
                <div>
                    <h4>Players you joined with</h4>
                    <div ng-repeat="attendee in attendees">
                        <span>{{attendee.userName}}</span>
                        <img style="width:50px;height:50px" class="img-responsive" ng-src={{attendee.profilePicture}}>
                    </div>
                </div>
                <!--<div>-->
                    <!--<h4>Top Sports</h4>-->
                    <!--<img style="width:50px;height:50px" class="img-rounded" src="http://www.partypacks.co.uk/images/products/product_93558_1_orig.jpg">-->
                    <!--<img style="width:50px;height:50px" class="img-rounded" src="http://www.partypacks.co.uk/images/products/product_93558_1_orig.jpg">-->
                    <!--<img style="width:50px;height:50px" class="img-rounded" src="http://www.partypacks.co.uk/images/products/product_93558_1_orig.jpg">-->
                <!--</div>-->
            </div>
            <!--<div class="well">-->
                <!--<iframe src="https://www.youtube.com/embed/ckpwSAv5we8" frameborder="0" allowfullscreen></iframe>-->
            <!--</div>-->
        </div>
    </div>
</div>
