#login-form {
  width: 60%;
  margin: 0 auto;
}

#auth-section {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
  padding:50px;
  background: url(http://i.stack.imgur.com/jGlzr.png) no-repeat;
  #signup-section {
     color: #0f0f0f;
     padding-left: 50px;
     input {
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
     }
     .btn{
       box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
     }
  }
  #login-section {
    color: #0f0f0f;
    padding-left: 50px;
    input {
      width: 200px;
      margin-top: 30px;
      margin-bottom: 30px;
      box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
    }
    .btn{
      box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
    }
  }
  #other-section {
     div {
       margin-top: 30px;
       margin-bottom: 30px;
     }
     #facebook-section{
       box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
     }
     #twitter-section {
       box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
     }
     #google-section{
       box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
     }
  }
}
