
<div class="container-fluid">
    <form novalidation action="">
        <div class="form-group">
            <h1 class="text-center"> {{type}} An Event</h1>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        <i class="fa fa-futbol-o fa-2x"></i>
                    </label>
                    <input type="text" ng-model="event.name" class="form-control" placeholder="activity name">
                </div>
               <div class="col-sm-4">
                   <label>
                       <i class="fa fa-camera fa-2x"></i>
                   </label>
                   <input type="text" ng-model="event.pic"  class="form-control" placeholder="upload a pic">
               </div>
                <div class="col-sm-4">
                    <label>
                        <i class="fa fa-users fa-2x"></i>
                    </label>
                    <input type="text" ng-model="event.numOfPeople"  class="form-control" placeholder="number of people">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        <i class="fa fa-calendar fa-2x"></i>
                    </label>
                    <input type="date" ng-model="event.date"  class="form-control"  uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn"></span>
                </div>
                <div class="col-sm-4">
                    <label>
                        <i class="fa fa-clock-o fa-2x">Time Begin</i>
                    </label>
                    <div class="dropdown" uib-dropdown>
                        <a class="dropdown-toggle" id="timebegin" role="button" data-toggle="timebegin-dropdown" data-target="timebegin-dropdown" href="#" uib-dropdown-toggle>
                            <div class="input-group"><input type="text" class="form-control" data-ng-model="event.timeBegin"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul id="timebegin-dropdown" class="uib-dropdown-menu" role="menu" >
                            <datetimepicker data-ng-model="event.timeBegin"></datetimepicker>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>
                        <i class="fa fa-clock-o fa-2x">Time End</i>
                    </label>
                    <div class="dropdown" uib-dropdown>
                        <a class="dropdown-toggle" id="timeend" role="button" data-toggle="timeend-dropdown" data-target="timeend-dropdown" href="#" uib-dropdown-toggle>
                            <div class="input-group"><input type="text" class="form-control" data-ng-model="event.timeEnd"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul id="timeend-dropdown" class="uib-dropdown-menu" role="menu" >
                            <datetimepicker data-ng-model="event.timeEnd"></datetimepicker>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <label for="location"><i class="fa fa-map-marker fa-2x"></i></label>
                    <input type="text" id="location" ng-model="event.location"  class="form-control" class="form-control" ng-autocomplete options="options"/>
                </div>
                <div class="col-sm-4">
                    <label>
                        <i class="fa fa-usd fa-2x"></i>
                    </label>
                    <input type="text" ng-model="event.feePerPerson"  class="form-control" placeholder="estimated fee per person">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <label><i class="fa fa-tags fa-2x"></i></label>
                    <tags-input ng-model="event.tag"></tags-input>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <label><i class="fa fa-pencil fa-2x"></i></label>
                    <editor id="description" content="event.description"></editor>
                </div>
            </div>

            </div>
    </form>
</div>

