<div ng-controller="createEventCtrl">
<form novalidation action="">
	<div class="form-group">
	<h1>Organize An Event</h1>
	<input type="text" ng-model="newEvent.name" placeholder="activity name">
	<input type="text" ng-model="newEvent.tag" placeholder="tags">	
	<input type="text" ng-model="newEvent.numOfPeople"placeholder="number of people">	
	<br>	
	<br>	

	<input type="text" ng-model="newEvent.date" placeholder="date">		
	<input type="text" ng-model="newEvent.time" placeholder="time">		
	<input type="text" ng-model="newEvent.feePerPerson" placeholder="estimated fee per person">		

	<br>
    <br>

	<input type="text" ng-model="newEvent.location" placeholder="location">		
	<input type="text" ng-model="newEvent.pic" placeholder="upload a pic">

	<br>
    <br>

	<textarea class="form-control" rows="3" ng-model="newEvent.description" placeholder="short description"></textarea>
	<br>	
	<br>	
		<button type="button"  class="btn btn-primary" ng-click="createEvent()">create it now!</button>

	</div>

</form>
</div>
