<div class="row-fluid" style="margin-bottom: 0">
    <div class="col-md-6" style="margin: 0; padding: 0">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker ng-repeat="event in events" coords="event.location.coords" options="{title: event.name}" mouseover="showEventDetails(event)" idkey="event._id">
        	<ui-gmap-window options="{content: ''}" isIconVisibleOnClick="true">
        	</ui-gmap-window>
        </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
	<div class="col-md-6" style="margin: 0; padding: 0">
	     <div class="well" style="background-color: #404040">
	        <search-filters></search-filters>
	        <div id="eventsList" style="overflow-y: scroll; height: 690px">
		        <div ng-repeat="event in events">
		        	<event-detail eventdata="event"></event-detail>
		        </div>
	        </div>
	    </div>
    </div>
</div>
