<div class="row-fluid" style="margin-bottom: 0">
    <div class="col-md-6" style="margin: 0; padding: 0">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker ng-repeat="event in events" coords="event.location.coords" options="{title: event.name}" mouseover="showEventDetails(event)" idkey="event._id">
        	<ui-gmap-window options="{content: ''}" isIconVisibleOnClick="true">
        	</ui-gmap-window>
        </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
	<div class="col-md-6" style="margin: 0; padding: 0">
	     <div class="well" style="background-color: #404040">
	     {{searchSettings}}
			<div class="row" ng-hide="toggleFilters()">
				<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
					  <input type="text" class="form-control" placeholder="Search by Event Name or Tag" aria-describedby="basic-addon1" ng-model="searchSettings.query">
					</div>
				<div class="col-md-4">
				    <h4>Find Events Near Me:</h4>
						<div><label class="btn btn-primary" ng-click="filterDistance('walking')">Walking (2 mi.)</label>
				        </div>
				        <div><label class="btn btn-primary" ng-click="filterDistance('biking')">Biking (5 mi.)</label>
				        </div>
				        <div><label class="btn btn-primary" ng-click="filterDistance('driving')">Driving (10 mi.)</label>
				        </div>
				    <br>
				    <br>
				    <div class="btn-group" uib-dropdown is-open="status.isopen" ng-model="searchSettings.sport">
				      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>{{selectedSport}}
				  	  <span class="caret"></span>
				      </button>
				      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
				        <li ng-repeat='sport in sportsList'><a href ng-click='filterSport(sport)'>{{sport}}</a></li>
				      </ul>
				    </div>
				</div>
				<div class="col-md-3">
					<h4>Find Events by Date:</h4>
						<div><label class="btn btn-primary" ng-model="searchSettings.today" uib-btn-checkbox="Today" ng-click='updateResults(searchSettings)'>Events Today</label>
				        </div>
				        <div><label class="btn btn-primary" ng-model="searchSettings.thisWeek" uib-btn-checkbox="This Week">Events This Week</label>
				        </div>
				        <div><label class="btn btn-primary" ng-model="searchSettings.nextWeek" uib-btn-checkbox="Next Week">Events Next Week</label>
				        </div>
				</div>
				<div class="col-md-5">
					<datetimepicker ng-model="searchSettings.date"></datetimepicker>
				</div>
			</div>
        <div id="eventsList" style="overflow-y: scroll; height: 690px">
	        <div ng-repeat="event in events">
	        	<event-detail eventdata="event"></event-detail>
	        </div>
        </div>
		</div>
	</div>
</div>
