<div class="container">
    <section class="event-form">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="tabs.selectedIndex">
                <md-tab label="Basic Info">
                    <md-content layout-padding layout="row">
                        <h1 class="md-display-2">Basic Info</h1>
                    </md-content>
                    <md-content class="md-padding" layout="column" ng-cloak class="md-inline-form">
                        <md-content layout="row" layout-sm="column">
                            <md-input-container>
                                <label>Event Title</label>
                                <input ng-model="event.name">
                            </md-input-container>
                        </md-content>
                        <md-content>
                            <div layout="row">
                                <md-input-container>
                                    <label>What Sport?</label>
                                    <md-select ng-model="event.sport">
                                        <md-option ng-repeat="sport in sportsList" value="{{sport}}">{{sport}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </md-content>
                        <md-content>
                            <label>Event Date</label>
                            <md-datepicker ng-model="event.date" md-placeholder="Enter date"></md-datepicker>
                        </md-content>
                        <md-content layout="row">
                            <md-input-container>
                                <label>1:00</label>
                                <md-select ng-model="event.dateTime.time">
                                    <md-option value="1:00" }>1:00</md-option>
                                    <md-option value="1:15" }>1:15</md-option>
                                    <md-option value="1:30" }>1:30</md-option>
                                    <md-option value="1:45" }>1:45</md-option>
                                    <md-option value="2:00" }>2:00</md-option>
                                    <md-option value="2:15" }>2:15</md-option>
                                    <md-option value="2:30" }>2:30</md-option>
                                    <md-option value="2:45" }>2:45</md-option>
                                    <md-option value="3:00" }>3:00</md-option>
                                    <md-option value="3:15" }>3:15</md-option>
                                    <md-option value="3:30" }>3:30</md-option>
                                    <md-option value="3:45" }>3:45</md-option>
                                    <md-option value="4:00" }>4:00</md-option>
                                    <md-option value="4:15" }>4:15</md-option>
                                    <md-option value="4:30" }>4:30</md-option>
                                    <md-option value="4:45" }>4:45</md-option>
                                    <md-option value="5:00" }>5:00</md-option>
                                    <md-option value="5:15" }>5:15</md-option>
                                    <md-option value="5:30" }>5:30</md-option>
                                    <md-option value="5:45" }>5:45</md-option>
                                    <md-option value="6:00" }>6:00</md-option>
                                    <md-option value="6:15" }>6:15</md-option>
                                    <md-option value="6:30" }>6:30</md-option>
                                    <md-option value="6:45" }>6:45</md-option>
                                    <md-option value="7:00" }>7:00</md-option>
                                    <md-option value="7:15" }>7:15</md-option>
                                    <md-option value="7:30" }>7:30</md-option>
                                    <md-option value="7:45" }>7:45</md-option>
                                    <md-option value="8:00" }>8:00</md-option>
                                    <md-option value="8:15" }>8:15</md-option>
                                    <md-option value="8:30" }>8:30</md-option>
                                    <md-option value="8:45" }>8:45</md-option>
                                    <md-option value="9:00" }>9:00</md-option>
                                    <md-option value="9:15" }>9:15</md-option>
                                    <md-option value="9:30" }>9:30</md-option>
                                    <md-option value="9:45" }>9:45</md-option>
                                    <md-option value="10:00" }>10:00</md-option>
                                    <md-option value="10:15" }>10:15</md-option>
                                    <md-option value="10:30" }>10:30</md-option>
                                    <md-option value="10:45" }>10:45</md-option>
                                    <md-option value="11:00" }>11:00</md-option>
                                    <md-option value="11:15" }>11:15</md-option>
                                    <md-option value="11:30" }>11:30</md-option>
                                    <md-option value="11:45" }>11:45</md-option>
                                    <md-option value="12:00" }>12:00</md-option>
                                    <md-option value="12:15" }>12:15</md-option>
                                    <md-option value="12:30" }>12:30</md-option>
                                    <md-option value="12:45" }>12:45</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>AM/PM</label>
                                <md-select ng-model="event.dateTime.ampm">
                                    <md-option value="AM">AM</md-option>
                                    <md-option value="PM">PM</md-option>
                                </md-select>
                            </md-input-container>
                        </md-content>
                    </md-content>
                    <md-content layout-padding layout="row">
                        <form name="addressForm">
                            <md-input-container class="md-block">
                                <label>Address</label>
                                <input ng-model="event.address1">
                            </md-input-container>
                            <md-input-container md-no-float class="md-block">
                                <input ng-model="event.address2" placeholder="Address 2">
                            </md-input-container>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>City</label>
                                    <input ng-model="event.city">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>State</label>
                                    <md-select ng-model="event.state">
                                        <md-option ng-repeat="state in states" value="{{state.abbreviation}}">
                                            {{state.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Postal Code</label>
                                    <input name="postalCode" ng-model="event.zip" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                                </md-input-container>
                            </div>
                        </form>
                    </md-content>
                    <md-button class="md-raised md-primary" ng-click="updateEvent()">Awesome!</md-button>
                    <md-button class="md-accent" ng-click="tabs.selectedIndex=1">More Info <i class="fa fa-arrow-right"></i></md-button>
                </md-tab>
                <md-tab label="Extra Info">
                    <md-content layout-padding layout="row">
                        <h1 class="md-display-2">Extra Info</h1>
                    </md-content>
                    <md-content layout="row" layout-sm="column">
                        <md-input-container>
                            <label>Max players</label>
                            <input ng-model="event.maxAttendees">
                        </md-input-container>
                    </md-content>
                    <md-content layout="row" layout-sm="column">
                        <md-input-container>
                            <label>Estimation Price / person</label>
                            <input ng-model="event.fee">
                        </md-input-container>
                    </md-content>
                    <md-content>
                        <md-input-container>
                            <label>Add tags to make your game popular!</label>
                        </md-input-container>
                        <md-input-container style="width:80%">
                            <tags-input ng-model="event.tags"></tags-input>
                        </md-input-container>
                    </md-content>
                    <md-content>
                        <md-input-container>
                            <label>Customize your post, get more people in!</label>
                        </md-input-container>
                        <md-input-container style="width:80%">
                            <editor id="description" content="event.description"></editor>
                        </md-input-container>
                    </md-content>
                    <md-button class="md-accent" ng-click="tabs.selectedIndex=0"><i class="fa fa-arrow-left"></i> Previous</md-button>
                    <md-button class="md-raised md-primary" ng-click="updateEvent()">Looks Great!</md-button>
                </md-tab>
            </md-tabs>
        </md-content>
    </section>
</div>
